
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

html {
  background: black;
  color: white;
  font-family: var(--font-Preahvihear), sans-serif;
   scroll-behavior: smooth;
}

html, body {
  overflow-x: hidden;
}
