
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

html {
  font-family: var(--font-Preahvihear), sans-serif;
  scroll-behavior: smooth;
}

html.light {
  background: #ffffff;
  color: #000000;
}

html.dark {
  background: #000000;
  color: #ffffff;
}

html, body {
  overflow-x: hidden;
  transition: background-color 0.2s, color 0.2s;
}
